.productTableContainer {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.productTable{
    width: 100%;
}

.productCards{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex; 
}

.cardProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
}

.cardBody{
    object-fit: contain;
}
.productItem{
    width: 30%;
    height: 40%;
}
.imgProduct{
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}
.arrow{
    text-align: center;
    margin-bottom: 10px;
}
.arrowButton{
    border: none;
    background-color: transparent;
}

.full{
    
    width: 100%;
    height: 100%;
}
