/*color*/
:root {
    --color0:#F4F1DE;
    --color1:#E07A5F;
    --color2:#3D405B;
    --color3:#81B29A;
    --color4:#F2CC8F;
}
body {
    overflow: hidden;
}
/*Header*/
.header {
    height: 10vh;
    background-color: var(--color1);
    font-family: Cambria, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.headerSite {
    display: flex;
    align-items: center;
}
.headerSiteName {
    text-decoration: none;
    color: black;
    margin-left: 10px; /* Ajoute un peu d'espace entre le logo et le texte du site */
}
.headerLogo {
    height: 50px;
}
.headerNavBar {
    flex-grow: 1;
    margin: 0 10px; /* Ajouter un peu d'espace autour de la barre de recherche */
}
.headerUser {
    margin-left: 10px; /* Ajouter un peu d'espace entre la barre de recherche et DivUser */
}
/*LeftMenu*/
.leftMenu{
    height: 80vh;
    background-color: var(--color3);
    font-family: Cambria, sans-serif;
    float: left;
}
.leftMenuLink{
    text-decoration: none;
    color: black;
}
/*Main*/
.mainContent{
    background-color: var(--color0);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*footer*/
.footer{
    background-color: var(--color2);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footerAbout{
    color: var(--color0);
    display: inline-block;
    margin-left: 25px;
}
.footerLogo{
    height: 50px;
}
/**/

.productTable{
    text-align: center;
}
.imgProduct{
    max-width: 200px;
    max-height: 200px;
}
.arrow{
    text-align: center;
}
.arrowButton{
    border: none;
    background-color: transparent;
}
